*{
    margin:0;
    padding:0;
}

h1{
    color: brown;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin-top:4 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}